* {
  margin: 0;
  font-family: system-ui;
}

html {
  scroll-behavior: smooth;
}

a,
.scroll-link {
  color: white;
  text-decoration: underline;
}

.section:nth-of-type(odd) a,
.section:nth-of-type(odd) .scroll-link {
  color: #1b9fff;
}

a:hover,
.scroll-link:hover {
  text-decoration: none;
  cursor: pointer;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  height: calc(100vh - 40vw);
  padding: 20vw;
}

.section:nth-of-type(odd) {
  color: black;
}

.section:first-child {
  position: relative;
  z-index: -1;
}

.title {
  font-size: 16vh;
  font-weight: 550;
  color: black;
}

img {
  position: absolute;
  left: 50%;
  bottom: 10%;
  translate: -50%;
  scale: 2;
  animation: bounce 2s infinite;
  opacity: 1;
  transition: .4s ease;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  10% {
    transform: translateY(9px) scale(.9, 1);
  }

  30% {
    transform: translateY(0);
  }
}

.section:nth-of-type(even) {
  background-color: #1b9fff;
}

.section:not(:first-child) h1 {
  font-size: 6.6vh;
  font-weight: 700;
  margin-bottom: 30px;
}

.section p {
  font-size: 4vh;
}

.indicator {
  position: fixed;
  bottom: 3vh;
  right: 3vh;
  background-color: #ffd152;
  padding: 20px;
  width: 70px;
  text-align: center;
  border-radius: 15px;
  font-weight: 600;
}

@media screen and (max-width: 900px) {
  .title {
    font-size: 12vh;
  }

  .section p {
    width: 75vw;
    font-size: 25px;
  }

  .indicator {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .title {
    font-size: 10vh;
  }

  .section:not(:first-child) h1 {
    font-size: 5.2vh;
    margin-bottom: 22px;
  }

  .section p {
    width: 75vw;
    font-size: 17px;
  }

  img {
    display: none;
  }
}